html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    background-color: black;
}

.parallax-layer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    font-size: medium;
}

.parallax {
    overflow: auto;
}