/* Base styles */
html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    background-color: black;
}

/* Parallax container */
.parallax {
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Text styling */
.text-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    text-align: center;
    z-index: 3;
    width: 90%; /* Prevent text from overflowing on small screens */
    max-width: 600px;
}

.text-item-small {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: gray;
    text-align: center;
    z-index: 3;
    width: 90%; /* Prevent text from overflowing on small screens */
    max-width: 600px;
}

/* Image containers */
.up-image-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

.phoebe-image-container {
    position: absolute;
    top: 56%;
    left: 5%;
    width: 300px;
}

.scrolling-image {
    width: 50%;
    max-width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-image {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    width: auto;
    height: auto;
    border-radius: 30px;
}

.image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: black;
    font-weight: normal;
    z-index: 15;
}

.parallax-layer-content {
    position: relative;
    height: 100vh;
    text-align: center;
    color: white;
    font-size: medium;
    z-index: 2;
}

.parallax-layer-content h1 {
    font-size: 2rem;
    color: white;
    z-index: 3;
}

.parallax-layer-content::before,
.bg-parallax-layer-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-layer-content::before {
    background-image: url('../../assets/glf.png');
    z-index: 2;
}

.bg-parallax-layer-content::before {
    background-image: url('../../assets/glf-bg.png');
    z-index: 1;
}

/* Copyright section */
.copyright {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: white;
}

@media screen and (max-width: 768px) {
    .text-item {
        font-size: 20px;
    }

    .text-item-small {
        font-size: 16px;
    }

    .welcome-image {
        display: block;
        margin: 30px auto;
        max-width: 90%;
        width: auto;
        height: auto;
        border-radius: 30px;
    }

    .welcome-title {
        color: white;
    }

    .scrolling-image {
        width: 40px;
    }
}

@media screen and (max-width: 480px) {
    .text-item {
        font-size: 18px;
    }

    .welcome-title {
        color: white;
    }

    .text-item-small {
        font-size: 14px;
    }
}